<?xml version="1.0" ?>
<robot name="kinect" xmlns:xacro="http://ros.org/wiki/xacro">
 
 <xacro:property name="mk" value="0.1" />
 <xacro:property name="lk" value="0.05" />		
 <xacro:property name="bk" value="0.2" />		
 <xacro:property name="hk" value="0.05" />

	<link name="kinect">
		<visual>
			<origin rpy="0 0 1.5707" xyz="0 0 0"/>
			<geometry>
					<box size="${lk} ${bk} ${hk}"/>
			</geometry>
		</visual>
	
		<collision name="collision_kinect">
			<geometry>
					<box size="${lk} ${bk} ${hk}"/>
			</geometry>
		</collision>

		<inertial>
			<mass value="${mk}"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="${mk*hk*bk/12.0}" ixy="0" ixz="0" iyy="${mk*lk*hk/12.0}" iyz="0" izz="${mk*lk*bk/12.0}"/>
		</inertial>
	</link>

	<gazebo reference="kinect">
  		<material>Gazebo/Black</material>
	</gazebo>

	<joint name="world_to_kinect" type="fixed">
		<parent link="world"/>
		<child link="kinect"/>
		<origin xyz="0 0 0.5" rpy="0 0 0"/>
	</joint>
	
	<link name="kinect_link" />
	
	<joint name="kinect_joint" type="fixed">
		<parent link="kinect"/>
		<child link="kinect_link"/>
		<origin xyz="0 0 0" rpy="-1.5707 0 0"/>
	</joint>

	  <!-- camera -->
	  <gazebo reference="kinect">
	    <sensor type="depth" name="camera1">
		<always_on>1</always_on>
		<visualize>true</visualize>             
		<camera>
		    <horizontal_fov>1.047</horizontal_fov>  
		    <image>
		        <width>640</width>
		        <height>480</height>
		        <format>R8G8B8</format>
		    </image>
		    <depth_camera>

		    </depth_camera>
		    <clip>
		        <near>0.1</near>
		        <far>100</far>
		    </clip>
		</camera>
		     <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">
		     <alwaysOn>true</alwaysOn>
		        <updateRate>10.0</updateRate>
		        <cameraName>kinect</cameraName>
		        <frameName>kinect_link</frameName>                   
		    <imageTopicName>rgb/image_raw</imageTopicName>
		    <depthImageTopicName>depth/image_raw</depthImageTopicName>
		    <pointCloudTopicName>depth/points</pointCloudTopicName>
		    <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>              
		    <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>            
		    <pointCloudCutoff>0.4</pointCloudCutoff>                
		        <hackBaseline>0.07</hackBaseline>
		        <distortionK1>0.0</distortionK1>
		        <distortionK2>0.0</distortionK2>
		        <distortionK3>0.0</distortionK3>
		        <distortionT1>0.0</distortionT1>
		        <distortionT2>0.0</distortionT2>
		    <CxPrime>0.0</CxPrime>
		    <Cx>0.0</Cx>
		    <Cy>0.0</Cy>
		    <focalLength>0.0</focalLength>
		    </plugin>
	    </sensor>
	  </gazebo>
</robot>
