<?xml version="1.0"?>
<robot name="rosarm">
	
	<transmission name="tran1">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_1">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
			
		</joint>
		<actuator name="motor1">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>
	
	<transmission name="tran2">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="shoulder">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
			
		</joint>
		<actuator name="motor2">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="tran3">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="elbow">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
			
		</joint>
		<actuator name="motor3">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>
	
	<transmission name="tran4">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="wrist">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
			
		</joint>
		<actuator name="motor4">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>
</robot>
